<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My portfolio</title>
  <link rel="stylesheet" type="text/css" href="../styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap" rel="stylesheet">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<div class="heroSection" id="main">
  <header>
    <div class="logo">
      <a href="">Portfolio</a>
    </div>
    <div class="nav">
      <button class="dropbtn"></button>
      <ul class="nav-content">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Portfolio</a></li>
      </ul>
    </div>
  </header>
  <div class="content">
    <div class="texts">
      <h1>Hi, It’s Anton Grigorenko</h1>
      <p>Web-developer from Cherkasy, Ukraine</p>
    </div>
  </div>
</div>
<div class="about" id="about">
  <div class="content">
    <h2>About</h2>
    <p>
      Hi, my name is Anton Grigorenko.
      I was born on July 18, 2004, in a beautiful village called Dubiivka.<br>
    </p>
    br
    <p>
      In 2010, I entered the Dubiiv school, where I studied hard, was obedient,
      attended sports sections such as volleyball, <br>
      and basketball, and I received awards for this and good academic achievements. <br>
      After graduating from school, I passed an external independent assessment and submitted
      my documents to the university of my dreams, Cherkasy State Technological University. <br>
      Now I study at CSTU, study hard, and learn different programming languages, create websites.
    </p>
  </div>
</div>
<div class="skills" id="skills">
  <div class="content">
    <h2 class="White">Skills</h2>
    <div class="flex">
      <div class="skillsImage">
        <img class="ava" src="./res/Profile Picture.png" alt="">
      </div>
      <div class="skillsRightContent">
        <table>
          <tr class="firstTd">
            <td>Profile</td>
            <td>UI / UX Engineer, Front-end Developer</td>
          </tr>
          <tr>
            <td>UX Research</td>
            <td>
              <progress id="progressbar" value="40" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td>Tools</td>
            <td>Vs Code</td>
          </tr>
          <tr>
            <td>UI Design</td>
            <td>
              <progress id="progressbar" value="90" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td>Tools</td>
            <td>Adobe PS, AI, XD, Figma, InVision</td>
          </tr>
          <tr>
            <td>Front-end Dev</td>
            <td>
              <progress id="progressbar" value="45" max="100"></progress>
            </td>
          </tr>
          <tr>
            <td>Tools</td>
            <td>HTML, CSS, JS, Bootstrap, React</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="portfolio" id="portfolio">
  <div class="content">
    <h2 class="White">Portfolio</h2>
    <h3>My Works</h3>
    <div class="flex">
      <div class="leftContent">
        <p>
          Now I'm learning to create websites, layout work on them, and I'm trying to learn JavaScript for
          further development. <br> <br>
          On the right side you can view my works.
        </p>
        <ul>
          <li>
            <a href=""> <img ngSrc="./res/ChevronLeft(E76B).png" alt="" height="24" width="14"> </a>
          </li>
          <li>
            <a href=""> <img src="./res/ChevronRight(E76C).png" alt=""> </a>
          </li>
        </ul>
      </div>
      <div class="rightContent">
      </div>
    </div>
  </div>
</div>
<footer id="contact">
  <div class="content">
    <h2>Get in Touch</h2>
    <table>
      <tr>
        <td><a href="https://t.me/Anthony_B0SS">Telegram</a></td>
        <td><a href="mailto:grigorenko.net@gmail.com">grigorenko.net</a></td>
        <td><a href="tel:+380968065072">+380968065072</a></td>
      </tr>
      <tr>
        <td><a href="">Behance</a></td>
        <td><a href="">GitHub</a></td>
        <td><a href="">Facebook</a></td>
      </tr>
      <tr>
        <td><a href="">Twitter</a></td>
        <td><a href="">Instagram</a></td>
        <td><a href="">CodePen</a></td>
      </tr>
    </table>
    <div class="up">
      <a href="#main"><img src="res/ChevronUp(E70E).png" alt=""></a>
    </div>
  </div>
</footer>
</body>
</html>


<router-outlet></router-outlet>
